/*General*/
h1 {
  background-color: lightblue;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 12px;
  color: gray;
}

/*Classes*/
.inline{
    display: inline;
}

.text {
  font-family: Arial, sans-serif;
  color: rgb(53, 53, 53);
}

/*IDs*/